<section class="showcase" id="showcase">
	<div class="container-fluid">
		<div class="row">
			<!-- -->
			<div class="col-lg-6 order-lg-2 rh-lg-6 cooker-img">
			</div>
			<!-- -->
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
				<h2>Hardware prototyping and development</h2>
				<p class="lead mb-0">Whether you need quick prototypes based on available hardware or you need your personalized PCB design. Let's talk to find out how we can help you!</p>
			</div>
		</div>

		<div class="row">
			<!-- -->
			<div class="col-lg-6 lh-lg-6 wort-node-img">
			</div>
			<!-- -->
			<div class="col-lg-6 my-auto showcase-text">
				<h2>From hardware to cloud and back</h2>
				<p class="lead mb-0">With our IoT knowledge, we get sensors to send data to the cloud, process it and send it back to actuators. All accessible via web services. For better processes and optimized workflows.</p>
				</p>
			</div>
		</div>
	</div>
</section>
