<section class="features-icons bg-light text-center" id="technologies">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-smartphone m-auto text-primary"></i>
            </div>
            <h3>Near range</h3>
            <p class="lead mb-0">WiFi or Bluetooth Low Energy allow your hardware to easily connect to your local network or talk directly to your computers, tablets or smartphones.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-globe m-auto text-primary"></i>
            </div>
            <h3>Long range</h3>
            <p class="lead mb-0">With new cellular technologies like Narrowband IoT (NB-IoT), LTE-M or 5G your hardware can send data for a long time without the need for an infrastructure.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-energy m-auto text-primary"></i>
            </div>
            <h3>Low power</h3>
            <p class="lead mb-0">Components consuming low power combined with energy harvesting techniques enable your hardware to last longer than just a few weeks (or a few years).</p>
          </div>
        </div>
      </div>
    </div>
  </section>
