<section class="vita" id="vita">
	<div class="container-fluid">
		<div class="row">
			<!-- -->
			<div class="col-lg-6 order-lg-2 rh-lg-6 cooker-img">
			</div>
			<!-- -->
			<div class="col-lg-6 order-lg-1 my-auto vita-text">
				<h2>Electronic & Embedded Developer</h2>
				<p class="lead mb-0">🔌 Passionate about open-source software and community-driven development. When there is enough time, actively contributes to various projects, believing in the power of collaboration.</p>
				<p class="lead mb-0">🌐 Specializes in firmware development, particularly with the Zephyr RTOS. Loves diving into low-level code, optimizing performance, and solving intricate challenges.</p>
			</div>
		</div>
	</div>
</section>
